@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #FF9209;
}
.logo-alura{
    margin-top: 30%;
}
.conteudo{
    display: flex;
    justify-content: space-evenly;
}
.entrada-dados{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 15%;
    height: auto;
}
.entrada-dado-texto{
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    height: 50vh;
}
textarea{
    resize: none;
    background-color: transparent;
    border: none;
}
textarea:focus, input:focus {
    box-shadow: 0;
    outline: 0;
}
.entrada-dados-aviso{
    display: flex;
    color: #2B3499;
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;    
}
.botoes{
    display: flex;
    gap: 0.5rem;
    
}
.botoes-criptografar{
    border: 0px solid;
    border-radius: 24px;
    background-color: #2B3499;
    padding: 2rem 8rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.botoes-descriptografar{
    border: 1px solid #FF9209;
    border-radius: 24px;
    background-color: #FF6C22;
    padding: 2rem 7rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.saida-dados{
    display: flex;
    flex-direction: column;
    background-color: #FFD099;
    border-radius: 32px;
    margin-top: 2%;
    gap: 2%;
}
.saida-dados-imagem{
    margin-top: 40%;
}
.saida-dados-textos{
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;    
    font-size: 1.35rem;
    width: 21rem;
    text-align: center;
}

@media (max-width: 769px ){
    .conteudo{
        flex-direction: column;
    }
    .logo-alura{
        margin-top: 3.5%;
    }
    .botoes{
        justify-content: space-between;
        gap: 15%;
        margin: 2%;
    }
    .saida-dados{
        margin-top: 0%;
    }
    .saida-dados-imagem{
        display: none;
    }
    .saida-dados-textos{
        width: auto;
    }
}
@media (max-width: 375px){
    
    .logo-alura{
        width: 25%;
        margin-top: 2%;
    }
    .entrada-dados{
        margin-top: 0%;
    }
    .entrada-dado-texto{
        width: min-content;   
    }
    .botoes{
        flex-direction: column;
        gap: 8px;
    }
    .botoes-criptografar{
        padding: 1.5rem;
        width: 215%;
    }
    .botoes-descriptografar{
        padding: 1.5rem;
        width: 215%;
    }
    .imagem-vetor{
        width: 13%;
        height: 10%;
    }
    .saida-dados{
        margin-left: 1%;
        margin-bottom: 5%;
        margin-top: 1%;
        width: 93%;
    }
    .saida-dados-textos{
        padding: 15px;
    }
}
@media (max-width: 1080px) and (max-height: 2080px){
    .conteudo{
        flex-direction: column;
    }
    .saida-dados-imagem{
        display: none;
    }
    .logo-alura{
        margin-top: 2%;
    }
    .botoes{
        flex-direction: column;
    }
    .botoes-criptografar{
        padding: 24px;
        width: 204%;
    }
    .botoes-descriptografar{
        padding: 24px;
        width: 204%;
    }
    .saida-dados{
        width: 91.5%;
    }
    .saida-dados-textos{
        width: auto;
        text-align: center;
    }
}